// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

a {
  text-decoration: none;
}

.full-opacity {
  opacity: 1 !important;
}

.text-small {
  font-size: 0.9rem;
}
.text-large {
  font-size: 0.9rem !important;
}
@media screen and (min-width: 1040px) {
  .text-small {
    font-size: 0.8rem;
  }
  .text-large {
    font-size: 1.1rem !important;
  }
}
@media screen and (min-width: 1600px) {
  .text-large {
    font-size: 1.2rem !important;
  }
}

.hover-pointer:hover {
  cursor: pointer;
}

p code {
  background-color: rgba(0, 0, 0, 0.12) !important;
  font-size: 0.92rem !important;
}

pre {
  font-size: 0.9em !important;
  margin: 1.25rem 0 !important;
}

@media screen and (min-width: 960px) {
  .container.article {
    max-width: 880px;
  }
}